// As variaves são usadas para armazenar propriedades para serem chamadas depois

// Variáveis de cores para o tema claro
$light-bg: #ffffff;
$light-header-bg: #e6e6e6;
$light-text-header: #0062ca;
$light-text-header-a: #0062ca;
$light-text-header-hover: 2px 2px 5px rgb(11, 221, 211);
$light-text: #000000;
$light-container-bg: rgb(195, 233, 245);
$light-border: #ced4da;
$light-button-bg: #4bf899;
$light-button-text: #000000;
$light-adicionar: #9b9b9b;
$light-tarefa1-bg: rgb(247, 247, 186);
$light-tarefa2-bg: #cadbec;


// Variáveis de cores para o tema escuro
$dark-bg: #2a2a2a;
$dark-header-bg: #1c1c1c;
$dark-text-header: #ecdd00;
$dark-text-header-a: #bc55d1;
$dark-text-header-hover: 2px 2px 5px rgb(248, 85, 248);;
$dark-text: #ffffff;
$dark-container-bg: #3c3c3c;
$dark-border: #444444;
$dark-button-bg: #3269ff;
$dark-button-text: #ffffff;
$dark-adicionar: #4f4f4f;
$dark-tarefa1-bg: #5c5b5b;
$dark-tarefa2-bg: #818181;