// Definindo variáveis de cores para o tema claro
$light-bg: #ffffff; // Fundo do body
$light-header-bg: #e6e6e6; // Fundo do header
$light-text-header: #0062ca;
$light-text-header-a: #0062ca;
$light-text-header-hover: 2px 2px 5px rgb(11, 221, 211);
$light-text: #000000; // Texto
$light-container-bg: rgb(195, 233, 245); // Fundo do container
$light-border: #ced4da; // Borda do container
$light-button-bg: #4bf899; // Fundo dos botões
$light-button-text: #000000; // Texto dos botões
$light-adicionar: #9b9b9b;
$light-tarefa1-bg: rgb(247, 247, 186);
$light-tarefa2-bg: #cadbec;


// Definindo variáveis de cores para o  $light-texttema escuro
$dark-bg: #2a2a2a; // Fundo do body
$dark-header-bg: #1c1c1c; // Fundo do header
$dark-text-header: #ecdd00;
$dark-text-header-a: #bc55d1;
$dark-text-header-hover: 2px 2px 5px rgb(248, 85, 248);;
$dark-text: #ffffff; // Texto
$dark-container-bg: #3c3c3c; // Fundo do container
$dark-border: #444444; // Borda do container
$dark-button-bg: #3269ff; // Fundo dos botões
$dark-button-text: #ffffff; // Texto dos botões
$dark-adicionar: #4f4f4f;
$dark-tarefa1-bg: #5c5b5b;
$dark-tarefa2-bg: #818181;