@import './checkbox';
@import './lista';
@import './variaveis';
@import './theme';
@import './header';
// Mixin para o tema claro
@mixin light-theme {
    background-color: $light-bg;
    color: $light-text;

    header {
        background-color: $light-header-bg;
        color: $light-text-header;
        a{
            color: $light-text-header-a;
            &:hover{
                text-shadow: $light-text-header-hover;
            }
        }
    }
    
    
    .container {
        background-color: $light-container-bg;
        border: 1px solid $light-border;
        .area-tarefas{
            .tarefa1{
                background-color: $light-tarefa1-bg;
            }
            .tarefa2{
                background-color: $light-tarefa2-bg;
            }
        }
    }

    .area-adicionar{
        background-color: $light-adicionar;
        button{
            background-color: $light-button-bg;
        }
    }
    #adiciona {
        background-color: $light-button-bg;
        color: $light-button-text;
    }
    
}

// Mixin para o tema escuro
@mixin dark-theme {
    background-color: $dark-bg;
    color: $dark-text;

    header {
        background-color: $dark-header-bg;
        color: $dark-text-header;
        a{
            color: $dark-text-header-a;
            &:hover{
                text-shadow: $dark-text-header-hover;
            }
        }
    }
    
    .container {
        background-color: $dark-container-bg;
        border: 1px solid $dark-border;
        .area-tarefas{
            .tarefa1{
                background-color: $dark-tarefa1-bg;
            }
            .tarefa2{
                background-color: $dark-tarefa2-bg;
            }
        }
    }

    .area-adicionar{
        background-color: $dark-adicionar;
        button{
            background-color: $dark-button-bg;
        }
    }

    #adiciona {
        background-color: $dark-button-bg;
        color: $dark-button-text;
    }
}

// Estilos globais
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include light-theme; // Começa com o tema claro
    min-height: 100vh;

    // Outros estilos...
}

.theme-dark {
    @include dark-theme;
}

// Outros estilos...

@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    @include flexCenter();
    padding: 0 80px 0 40px;
    width: 100%;
    height: 75px;
    a{
        text-decoration: none;
    }
    p{
      font-size: 20px;
    }
    
}
main{
    @include flexCenter();
    justify-content: space-around;
    flex-direction: column;
    min-height: 80vh;
    padding: 30px;

    .adicionar{
        @include flexCenter();
        width: 80%;
        height: 100px;
        #adiciona{
            width: 150px;
            height: 60px;
            font-weight: bold;
            border: 2px  solid rgb(0, 0, 0);
            border-radius: 10px;
            transition: background-color 0.3s, transform 0.3s;
            &:hover{
                transform: scale(1.05);
                cursor: pointer;
            }
            &:active{
                transform: scale(0.9);
            }
        }
    }

    .container{ //depois colocar display flex
        flex-wrap: wrap;
        padding: 25px;
        width: 85%;
        border-radius: 30px;

        .area-adicionar{
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            position: absolute;
            top: 34%;
            left: 50%;
            transform: translateX(-50%);
            width: 500px;
            height: 350px;
            border-radius: 20px;
            opacity: 0.9;
            z-index: 1000;

            .entrada{
                width: 85%;
                input{
                    width: 100%;
                    border: 2px solid #ccc; /* Cor da borda */
                    border-radius: 5px; /* Bordas arredondadas */
                    font-size: 16px;
                }
            }
            #enviar{
                padding: 10px 20px;
                font-size: 18px;
                border-radius: 8px;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.3s;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
                &:hover{
                    transform: translateY(-2px);
                }
                &:active{
                    transform: translateY(1px);
                }
            }
        }

        .tabela{
            display: flex;
            height: 30px;
            width: 100%;
            justify-content: space-between;
            text-align: start;
            align-items: center;
            padding: 3px;
            .abas{
                @include flexCenter();
                height: 30px;
                width: 100px;
                border-right: 1px solid black;
            }
            
        }
        .area-tarefas{
            width: 100%;
            height: calc(100% - 30px);
            .abas{
                @include flexCenter();
                min-height: 40px;
                border-right: 1px solid black; // se o tamanho de uma aba for maior que das outras a linha fica bugada
            }                                    // resolver com clientHeight ou offsetHeight no JS
            .tarefa1{
                @include flexCenter();
                padding: 0 3px 0 3px;
                flex-wrap: wrap; // include para isso
                text-align: center;
                width: 100%; //
            }
            .tarefa2{
                @include flexCenter();
                padding: 0 3px 0 3px;
                flex-wrap: wrap; // include para isso
                text-align: center;
                width: 100%; //
            }
        }
    }


      
}

.esconde{
    display: none;
}

.aparece {
    display: flex;
}
